.ProjetsContainer {
    display: flex;
    width: 150%; /* Augmente la largeur pour permettre un débordement des côtés */
    overflow: hidden;
    position: relative;
    left: -25%; /* Décale le conteneur vers la gauche pour centrer le projet du milieu */
    margin-top: 50px;
    gap:10px;
  }
  
  .ProjetContainer {
    flex-shrink: 0;
    overflow: hidden;
    height: 800px; /* Hauteur fixe pour les projets */
    width: 33.33%; /* Largeur uniforme pour tous les projets */
    border-width: 1px;
    border-style: solid;

  }
  
  .ProjetContainer.left,
  .ProjetContainer.right {
    opacity: 50%;
    overflow: hidden;
  }

  .ProjetContainer.left,
  .ProjetContainer.right :hover {
  cursor:pointer
  }
  
  .ProjetImgContainer {
    height: 80%; /* Utilise 80% de la hauteur du parent */
  }
  
  .ProjetContainer.center {
    position: relative; /* Pour le centrer horizontalement */
    opacity: 1;
  }
  
  .ProjetIMG {
    width: 100%;
    height: 100%;
  }
  
  .ProjetImgContainer {
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  
  .SectionAppleStyle {
    margin-top: 10px;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  
  .ProjectSkillContainer {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    position:relative
  }



