@import './resetcss.scss';
@import './global.scss';

@mixin margin {
margin-right:auto;
margin-left:auto;
max-width: 1220px;
  }

@mixin shadow{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

@mixin textshadow{
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

@mixin AppleStyle{
  background-color: #f5f5f7;
  color:black;
}


