
@import '../../styles/mixins.scss';

.skillsListContainer{
display:flex;
justify-content: space-between;
flex-wrap:wrap;
margin-left: 20px;
margin-right: 20px;
}

.skillContainer{
    width:40%;
    border-radius: 20px;
    border-width: 1px;
    border-style: groove;
    margin-top: 20px;
    @include shadow;
}

.h1Skills{
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.h2Skills{
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.SkillNameContainer{
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.TechName{
    margin-left: 5px;
}

.TechContainer{
    display: flex;
    flex-direction: column;
}