
@import '../../styles/mixins.scss';

.SkillSection{
    background-color: black;
    color:white;
    margin-top: 10px;
}

.skillsListContainer{
display:flex;
flex-wrap: wrap;
justify-content: space-around;
height:auto;
}

.skillContainer{
    width:40%;
    margin-bottom: 20px;

}

#h2SkillsSection{
    font-size: 40px;
    margin-bottom: 40px;
}

.h2Skills{
    font-size: 30px;
}

#h2SkillsSection{
    padding-top: 10px;
}

.SkillNameContainer{
    display: flex;
    flex-direction: row;
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
}

.TechName{
    margin-left: 2px;
}

.TechContainer{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center; 
}

.SkillSection{
    justify-content:center;
}

.SkillText{
    margin-bottom:10px;
    width:500px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    line-height:1.3
}
@media (max-width: 1300px) {

    .SkillText{
        margin-bottom:10px;
        width:400px;
        margin-left: auto;
        margin-right: auto;
        font-size: 18px;
        line-height:1.3
    }
}

@media (max-width: 1034px) {

    .SkillText{
        margin-bottom:10px;
        width:350px;
        margin-left: auto;
        margin-right: auto;
        font-size: 16px;
        line-height:1.3
    }
}

@media (max-width: 902px) {

    .SkillText{
        margin-bottom:10px;
        width:300px;
        margin-left: auto;
        margin-right: auto;
        font-size: 14px;
        line-height:1.3
    }
}



@media (max-width: 700px) {

    .skillsListContainer{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .SkillSection{
        align-items: center;
    }

    .skillContainer{
        width:100%;
    }

}