@import '../styles/mixins.scss';




.h1{
  color:black;
}

.h2{
  margin-bottom: 40px;
  color: black;
  padding-top: 40px;
}

body{
  text-align: center;
}

.name{
  margin:0 !important;
}

