@import '../styles/mixins.scss';




.h1{
  color:black;
}

.h2{
  margin-bottom: 40px;
  color: black;
  padding-top: 40px;
}

body{
  text-align: center;
}

.name{
  margin:0 !important;
}

#logo {
  opacity: 0;              /* Opacité initiale: totalement transparent */
  transition: opacity 2s;  /* Transition sur 2 secondes */
}

#logo.visible {
  opacity: 1; /* Opacité finale: totalement opaque */
}
