@import '../styles/mixins.scss';



.PresentationContainer{
  position:relative;
  width:100%;
  height:auto;
  display:flex;
  border-left: 0px;
  
}

.PresentationText{
  display:flex;
  position:absolute;
  width:100%;
  text-align: center;
  flex-direction: column;
  z-index:1;
  top:30%;
  font-size:300%;
  color:White
}

.h1{
  margin-bottom: 40px;
  margin-top: 40px;
  color:#00FFEE
}

.h2{
  margin-bottom: 40px;
  margin-top: 40px;
  color:#00FFEE
}

.hussIMG{
  width:100%;
  height:100%;
  object-fit:cover;
}

body{
  color:( White);
  text-align: center;
}

.backgroundIMG{
  @include background(60%);
}

.name{
  margin:0 !important;
}