@import '../../styles/mixins.scss';


.titre{
    color:black;
    margin-top: auto;
    margin-bottom:auto;
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #00FFEE;
    padding:10px 20px 10px 15px;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 18px;
    font-weight: 500;
    }

.title:hover{
    cursor:pointer;
}

.collapse{
    margin-bottom: 20px;
    border-radius: 5px;
    @include shadow;
    width:80%;
    margin-left: auto;
    margin-right: auto;
}

.arrow {
    transition: transform 0.8s;
  }
  
.arrow.rotate {
    transform: rotate(180deg);
  }

.content {
    max-height: 0;
    display: none;
    transition: max-height 0.1s ease;
    font-size: 18px;
    background-color: #F6F6F6;
    color: black;
    padding:20px;
    justify-content: center;
  }
  
.open {
    display:flex;
    max-height: 500px; 
  }

  @media (max-width: 768px){

    .titre{
      font-size: 13px;
    }

    .title{
     height:30px;
     padding-top: 0;
     padding-bottom: 0;
    }
    
    .content{
      font-size: 10px;
    }

  }
