.vector{
    margin-left: 5px;
}

.LinkContainer{
    color:#06c;
    margin-top:10px;
    display:flex;
    flex-direction: row;
}

.Link:hover{
    text-decoration: underline;
    cursor: pointer;
}

.Link{
    display:flex;
    flex-direction: row;
    align-items: center;
}
