@import '../../styles/mixins.scss';



.NavElementContainer {
  display: flex;
  justify-content: space-around;
  align-items: center; 
  border-style: solid;
  color: lightgray;
  border-width: 1px;
  font-size: 20px;
  border-color: lightgray;
  text-align: center;
  flex-grow: 1;
  font-weight: 300;
  height: 100%;
  width: 200px;
  line-height: 100%;
}

.NavContainer {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  background-color: white;
  height:100%
}

.NavElementContainer:hover{
  color:blue;
  cursor: pointer;
}

.NavElement:hover {
  color: blue;
}

#nav {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.active {
  border-right: 0;
  color: blue;
  @include shadow;
}
