@import '../../styles/mixins.scss';



.NavElementContainer {
  display: flex;
  border-style: solid;
  color: lightgray;
  border-width: 1px;
  font-size: 20px;
  border-color: lightgray;
  text-align: center;
  flex-grow: 1;
  font-weight: 300;

}

.NavContainer {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.NavElement {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.NavElement:hover {
  color: blue
}

#nav {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.active {
  border-right: 0;
  color: blue;
  @include shadow;
}
