@import '../../styles/mixins.scss';



.NavElementContainer {
  display: flex;
  border-style: solid;
  color: lightgray;
  border-width: 1px;
  font-size: 20px;
  border-color: lightgray;
  text-align: center;
  flex-grow: 1;
  font-weight: 300;
  height:100%;
  width:200px;
  align-items: center; /* Centre verticalement */
  justify-content: center; /* Centre horizontalement */
}

.NavContainer {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  background-color: white;
  height:100%
}

.NavElement {
  width:100%;
  height:100%;
  
  align-items: center; /* Centre verticalement */
  justify-content: center; /* Centre horizontalement */
}

.NavElement:hover {
  color: blue
}

#nav {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.active {
  border-right: 0;
  color: blue;
  @include shadow;
}
